.video-area {
  display: grid;
  gap: 0.5rem;

  grid-template-areas:
    "thumbnails"
    "participants";

  grid-template-rows: 100px 1fr;

  &.landscape {
    grid-template-areas: "participants thumbnails";

    grid-template-rows: auto;
    grid-template-columns: 1fr 230px;
  }
}

.participants {
  grid-area: participants;

  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, 0.5fr);
  grid-template-rows: repeat(2, 0.5fr);
}

.participant {
  background: no-repeat;
  border-radius: 0.5rem;
  background-position: center;
  background-size: cover;
  padding: 0.5rem;

  position: relative;

  .name {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;

    background: $colour-grey-dark;
    padding: 2px 8px 2px 4px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 0.25rem;
  }
}

.thumbnails {
  grid-area: thumbnails;
  display: flex;
  justify-content: flex-end;

  .participant {
    width: 162px;
  }
}

.landscape .thumbnails {
  flex-direction: column;

  .participant {
    width: auto;
    height: 112px;
  }
}
